.content-edit {
  margin: 16px 0;
}

.col-edit-top {
  background: linear-gradient(
    180.09deg,
    rgba(114, 28, 166, 0.322934),
    rgba(203, 162, 255, 0) 68.14%
  );
  background-color: white;
  border-bottom: 1px solid #ebebeb;
  border-radius: 1em 1em 0 0;
  padding: 16px 0px;
  text-align: center;
}
.text-edit-top {
  margin: 0;
}
.col-edit-sub {
  background-color: white;
}

.col-form-edit-content {
  margin-top: 16px;
}

.input-form-edit {
  border-radius: 1em;
}
.btn-form-edit {
  width: 100%;
  background: #b983ff;
  color: white;
  border-radius: 1em;
  /* border: #b983ff; */
  border-color: #b983ff;
}
.btn-form-edit:hover {
  background: white;
  color: #b983ff;
  border-color: #b983ff;
}

.form-upload-edit .ant-upload {
  width: 100%;
  border-radius: 1em;
}
.btn-upload-edit,
.btn-upload-edit:hover {
  width: 100%;
  color: #b983ff;
  border: #b983ff 1px solid;
  border-radius: 1em;
}
